<a href="https://colab.research.google.com/github/DCI-alxogm/ml2023-DPM2310/blob/main/Ago11-12/MiPrimerNB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

In [36]:
#Una lista puede contener multiples tipos de datos
lista1 = [2,"2","dos",2.0]

In [37]:
#Al multiplicar una lista por un entero se coppian y agregan a la lsita los elementos antes existentes en ella
lista1*2

[2, '2', 'dos', 2.0, 2, '2', 'dos', 2.0]

In [43]:
#.append nos permite adjuntar elementos a la lista
lista1.append(9)
lista1

[2, '2', 2.0, 9, 9]

In [45]:
#.remove nos permite eliminar algun termino deseado de la lista
lista1.remove(9)
lista1

[2, '2', 2.0, 9]

In [40]:
#del nos permite eliminar el elemento seleccionado a base de su posicion
del lista1[2]
lista1

[2, '2', 2.0, 9]

In [48]:
#De esta forma eliminamos desde el elemnto 0 hasta : n
del lista1[0:2]
lista1

[]

In [55]:
#.insert nos permite a√±adir elementos a la lista dada la posicion en la que lo queremos
lista1.insert(3,'dos')
lista1

['tres', 'dos', 'tres', 'dos', 'tres']

In [56]:
lista2 = [4,"cuatro","4"]

In [57]:
#Podemos definir listas de listas, listas anidadas
lista3 = [lista1,lista2]
lista3

[['tres', 'dos', 'tres', 'dos', 'tres'], [4, 'cuatro', '4']]

In [58]:
#Podemos mostrar los elementos de una lista de multiples formas
for i in lista2:
  print(i)

4
cuatro
4

In [59]:
for i in range(len(lista1)):
  print(i,lista1[i])

0 tres
1 dos
2 tres
3 dos
4 tres

In [61]:
for i, item in enumerate(lista1):
  print(i,item)

0 tres
1 dos
2 tres
3 dos
4 tres

# Tuplas

In [64]:
#Una tupla en python se crea con parentesis normales, sus elementos son inmutables a diferencia de los de una lusta
lista4 = (2,"2","dos",2.0)
type(lista4)

tuple

# Arreglos

In [67]:
import array as arr

In [68]:
#Definimos un arreglo indicamdo el tipo de datos que contendra
arreglo = arr.array("i",[1,2,3])
arreglo

array('i', [1, 2, 3])

In [69]:
arreglo*arreglo

TypeError: ignored

In [70]:
#la libreria numpy nos permite hacer operaciones con arreglos
import numpy as np

In [71]:
nparr = np.array([1,2,3])

In [72]:
nparr*nparr

array([1, 4, 9])

In [73]:
nparr/nparr

array([1., 1., 1.])